@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #060606;
  --foreground: #fefefe;
  --muted: #a0a0a0;
}

html,
body {
  max-width: 100vw;
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: "liga" 1, "kern" 1;
}

body {
  @apply font-sans antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
